In [1]:
def multiply(*args):
    p=1
    for i in args:
        p=i*p
        return p

In [2]:
args= [1,2,3,4,5]

In [7]:
multiply(*args)

120

In [8]:
multiply(2,5)

10

In [17]:
def average(*args):
    p= sum(args)/len(args)
    return p

In [18]:
average(1,2,3,4,5)

3.0

In [14]:
len(args)

5

In [16]:
sum(args)

15

In [19]:
def mm(*n):
    avg= sum(n)/len(n)
    return avg

In [22]:
mm(85, 56, 45 ,12 )

49.5

Billing example
You have multiple products and customer can purchase differnt products and quantities
Calcualte subtotal
Add a tax rate (default of 18%)
Add the tax to get final total

In [35]:
purchase=[(100,3), (500,2), (200,5),(10,1), (300, 6)]

In [25]:
purchase

[(100, 3), (500, 2), (200, 5), (10, 1), (300, 6)]

In [31]:
def billing(tax_amt, *args):
    subtotal= 0
    for price, qty in args:
        print(f'Price : {price} INR, Quantity : {qty}, Amount : {price*qty} INR')
        subtotal= subtotal+(price*qty)
        print(f'Subtoital : {subtotal}')
        tax= (tax_amt/100)* subtotal
        print(f'Tax Amount : {tax}')
        Total_Amt= subtotal+tax
    return Total_Amt

In [36]:
billing(18, *purchase)

Price : 100 INR, Quantity : 3, Amount : 300 INR
Subtoital : 300
Tax Amount : 54.0
Price : 500 INR, Quantity : 2, Amount : 1000 INR
Subtoital : 1300
Tax Amount : 234.0
Price : 200 INR, Quantity : 5, Amount : 1000 INR
Subtoital : 2300
Tax Amount : 414.0
Price : 10 INR, Quantity : 1, Amount : 10 INR
Subtoital : 2310
Tax Amount : 415.8
Price : 300 INR, Quantity : 6, Amount : 1800 INR
Subtoital : 4110
Tax Amount : 739.8

4849.8

## Keyword Argument
**kwargs
kwargs act like dictionary in function

In [ ]:
def func2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f'Key : {key}, Value : {value}')

In [60]:
fun2( 
    name ="Aishwarya",
    Surname = "Kadam",
    Job_Role = "Data Analyst",
    City= "Pune",
    Salary= 35000
)

NameError: name 'fun2' is not defined

In [52]:
func2(name = "Utkarsh", 
      occupation="Data Scientist", 
      age=30,
      hobbies=["Guitar", "Skating"])

NameError: name 'func2' is not defined

In [53]:
def user_profile(username, email, **kwargs):
    profile = {"username": username, "email":email}
    for key, value in kwargs.items():
        profile[key] = value
    return profile

In [54]:
u1 = user_profile(username="sartharks3", email="sarthak@gmail.com")

In [55]:
u1

{'username': 'sartharks3', 'email': 'sarthak@gmail.com'}

In [56]:
u2 = user_profile(username="aditim4",
                  email="aditi@test.com",
                  age=28,
                  city="Pune",
                  contact="9876543210")

In [57]:
u2

{'username': 'aditim4',
 'email': 'aditi@test.com',
 'age': 28,
 'city': 'Pune',
 'contact': '9876543210'}

In [58]:
def func2(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f'Key : {key}, Value : {value}')

In [61]:
func2(name = "Utkarsh", 
      occupation="Data Scientist", 
      age=30,
      hobbies=["Guitar", "Skating"])

{'name': 'Utkarsh', 'occupation': 'Data Scientist', 'age': 30, 'hobbies': ['Guitar', 'Skating']}
<class 'dict'>
Key : name, Value : Utkarsh
Key : occupation, Value : Data Scientist
Key : age, Value : 30
Key : hobbies, Value : ['Guitar', 'Skating']

In [70]:
def func3(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f'Key : {key}, Value : {value}')

In [69]:
func3( 
    name = "Aishwarya",
    surname = "Kadam",
    jobrole = "Data Analyst",
    city= "Pune",
    salary= 35000
)

{'name': 'Aishwarya', 'surname': 'Kadam', 'jobrole': 'Data Analyst', 'city': 'Pune', 'salary': 35000}
<class 'dict'>
Key : name, Value : Aishwarya
Key : surname, Value : Kadam
Key : jobrole, Value : Data Analyst
Key : city, Value : Pune
Key : salary, Value : 35000

In [71]:
# Prices including tax
menu = {"Burger" : 150,
        "Sandwich" : 100,
        "Pasta": 200,
        "Pizza": 400,
        "Soft_Drinks" : 50}

In [72]:
menu["Pizza"]

400

In [73]:
menu["Paneer"]

KeyError: 'Paneer'

In [74]:
menu.get("Paneer")

In [75]:
print(menu.get("Paneer"))

None

In [76]:
def restaurant(**kwargs):
    total = 0
    for food, qty in kwargs.items():
        if menu.get(food) is not None:
            price = menu.get(food)
            amt = price*qty
            print(f'Food item : {food}')
            print(f'Price : {price} INR')
            print(f'Quantity : {qty}')
            print(f'Amount : {amt} INR')
            total += amt
            print('\n=========================================\n')
    print(f'Total Bill is : {total:.2f} INR')
    return total

In [77]:
c1 = restaurant(Burger=2, Sandwich=1, Soft_Drinks=3)

Food item : Burger
Price : 150 INR
Quantity : 2
Amount : 300 INR

=========================================

Food item : Sandwich
Price : 100 INR
Quantity : 1
Amount : 100 INR

=========================================

Food item : Soft_Drinks
Price : 50 INR
Quantity : 3
Amount : 150 INR

=========================================

Total Bill is : 550.00 INR

In [78]:
order2 = {
    "Pizza" : 4,
    "Pasta" : 2,
    "Burger" : 1,
    "Soft_Drinks": 3
}

In [79]:
c2 = restaurant(**order2)

Food item : Pizza
Price : 400 INR
Quantity : 4
Amount : 1600 INR

=========================================

Food item : Pasta
Price : 200 INR
Quantity : 2
Amount : 400 INR

=========================================

Food item : Burger
Price : 150 INR
Quantity : 1
Amount : 150 INR

=========================================

Food item : Soft_Drinks
Price : 50 INR
Quantity : 3
Amount : 150 INR

=========================================

Total Bill is : 2300.00 INR